body{
    background-color: rgb(0, 0, 0);
} 
.botones ul{
    display: flex;
    justify-content: center;

}
.botones li{
    list-style: none;
    margin-left: 5%;
    margin-right: 5%;


}
.boton1{
    color: white;
    font-size: 43px;
    font-family: fone;
    border-style: double;
    
    
}
.boton1:hover{
    
    color: orange;
     
 }
 .boton2{
     color: white;
     font-size: 43px;
     font-family: fone;
     border-style: double;
     
 }
 .boton2:hover{
     color: orange;
     
 }
 .boton3{
     color: white;
     font-size: 43px;
     font-family: fone;
     border-style: double;
     
     
 }
 .boton3:hover{
    color: orange;
     
     
 }
 .boton4{
     color: white;
     font-size: 43px;
     font-family: fone;
     border-style: double;
    
 } 
 .boton4:hover{
     color: orange;
    
 } 
 @font-face{
    font-family: fone;
    src: url(Cine.ttf);
 }
@font-face{
    font-family: fone;
    src: url(Cine.ttf)
}
@font-face{
    font-family: roboto;
    src: url(Roboto.ttf);
}
.Segundo_parrafo{
    color:white;
    text-align: center;
    font-size: 50px;
    font-family: fone;
    
}
.Tercer_parrafo{
    color: white;
    text-align: center;
    font-size: 15px;
    font-family: roboto;
}
.formle{
    color: white;
    font-size: 15px;
    font-family: roboto;
    margin-left: 0%;
    
}
.enviar{
  
    padding: 3px;
    background-color: rgb(226, 155, 89);
    font-size: 16px;
    color: white;
    font-family: roboto;

}
.pf{
    width: 49.5%;
    padding: 2px;
}
.rs1{
    width: 7.8%;
    margin-left: 88%;
    
    
}
.rs1:hover{
    
    transform: scale(0.9);
   
}
.rs2{
    width: 8%;
    margin-left: 0;
    
}
.rs2:hover{
    transform: scale(0.9);
}
.Redes_sociales{
   width: 100%;
  

}
.Redes_sociales ul{ 
    
  display: flex;
}
.Redes_sociales li{
    
    list-style: none;
    
  }

.form-register{
    width: 400px;
    background-color: rgb(0, 0, 0);
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    border-radius: 4px;

  }

  .controls{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;


  }
   
@media only screen and (max-width:720px){
    body{
        background-color: black;
    }

    .boton0{
        font-size: 35px;
    }
    .boton1{
        font-size: 35px;
    }
    .boton2{
        font-size: 35px;

    }
    .boton3{
        font-size: 35px;

    }
    .boton4{
        font-size: 35px;
    }
    .pl{
        width: 100%;
    }
    .p2{
        width: 100%;

    }
    .p3{
        width: 100%;
    }
    .p4{
        width: 100%;
    }
    .Segundo_parrafo{
        font-size: 35px;
    }
    .rs1{
        width: 19.8% ;
        margin-left:70%;
    }
    .rs2{
        width: 20%;
        
    }
    .Tercer_parrafo{
        font-size: 16px;
    }
    .presentacion{
        width: 60%;
    }
    .T2{
        font-size: 20px;
    }
    .Segundo_parrafo{
        font-size: 40px;
    }
    .pf{
        width: 100%;
        padding: 2px;
    }

}
@media only screen and (max-width:1226px){
    body{
        background-color: black;
    }

    .boton0{
        font-size: 35px;
    }
    .boton1{
        font-size: 35px;
    }
    .boton2{
        font-size: 35px;

    }
    .boton3{
        font-size: 35px;

    }
    .boton4{
        font-size: 35px;
    }
    .pl{
        width: 100%;
    }
    .p2{
        width: 100%;

    }
    .p3{
        width: 100%;
    }
    .p4{
        width: 100%;
    }
    .Segundo_parrafo{
        font-size: 35px;
    }
    .rs1{
        width: 19.8% ;
        margin-left:70%;
    }
    .rs2{
        width: 20%;
        
    }
    .Tercer_parrafo{
        font-size: 16px;
    }
    .presentacion{
        width: 60%;
    }
    .T2{
        font-size: 20px;
    }
    .Segundo_parrafo{
        font-size: 40px;
    }
    .pf{
        width: 100%;
        padding: 2px;
    }

}  